doctype html
html
  head
    title= title
    link(rel='/stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')

  .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') NodeAuth
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title === 'Member' ? 'active': ''))
              a(href="/") Member
            li(class=(title === 'Register' ? 'active': ''))
              a(href="/users/register") Register
            li(class=(title === 'Login' ? 'active': ''))
              a(href="/users/login") Login
          ul.nav.navbar-nav.navbar-right 
            li 
              a(href="/users/logout") Logout 
          
    .container
     block content
